<!Doctype html>
<html lang="en", style="background: url(static/background.png) no-repeat center center fixed; background-size: cover;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <title>24 FRIEND</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id= maindiv>
        <nav class="navbar navbar-light" style="background-color:#006994;">
            <a class="navbar-brand" href="#">
            <h1 style="color: rgb(255, 255, 255); margin: auto">
              24-FRIENDS
            </h1>
            </a>
            <form class="form-inline" action="http://localhost:5000/logOut" method="POST">
              {% if user_email %}
              <p style="color: white; padding-right: 30px" id="userEmail">{{ user_email }}</p>
              {% endif %}
               <button type="submit" class="btn btn-primary mb-2">Log Out</button>
            </form>
        </nav>
        <div style="padding: 20px; background-color: rgba(255, 255, 255, 0.664);">
            <h2 style="text-align:center; font-size:320%; color:#006994;">Meet Someone New.</h2>
        </div>
         
         <div id=form style="background-color:rgba(193, 207, 193, 0.842); width: 700px; height: 60%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
         margin:auto; padding: 40px; margin-top:250px; border-radius: 25px; border: 2px solid #73AD21;">
            <p>
                We are here to help you connect and learn.
            </p>
            <p>
                Kindly select a field that you would like to learn more about in the options below and we will link you
                to people who will help you understand the concept better.
            </p>
            <p style="color:#006994">*For example, want to learn more about others in religions different from yours? Select Religion.</p>
            <p>
              Please treat others well, be honest and polite.
            </p>
            <p>
                Your time expires after 24 hours, make the best out of it. Have fun.
            </p>
            <div class="form-group">
                <form action="http://localhost:5000/pairUp" method="GET">
                  <label for="exampleFormControlSelect1" style="color:#006994">Pair up with someoone who's deifferent in:</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Age</option>
                    <option>Gender</option>
                    <option>Religion</option>
                    <option>Profession</option>
                  </select>
                  <div id=submit style="float: right; margin-top:35px;"><button type="submit" class="btn btn-primary mb-2">Pair Up</button></div>
                </form>
            
            </div>
            
        </div>
 
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var user_email_element = document.getElementById("userEmail");
        var email_addition = user_email_element.innerHTML

        document.getElementById("exampleFormControlSelect1").setAttribute("name", email_addition+"|difference_factor")
      </script>
  </body>
</html>